---
import Main from '../layout/main.astro'
import hero from '/hero_page.jpg'

---

<style>
    .hero {
    height: 30vh;
    background-position: bottom 5px right 7px;
    background-repeat: no-repeat; 
}

</style>
<Main>
    <section class="hero" style = `background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(${hero})`>
        <div class="hero-inner">
            <h1 class="shadow-text">About Us
            </h1>
        </div>
    </section>

    <div>
        <p>Welcome to our luxury house building company! We are a team of skilled architects and craftsmen who are passionate about creating stunning, high-end homes. With years of experience in the industry, we have a reputation for excellence and attention to detail.

            Our homes are more than just buildings - they are a reflection of our clients' unique styles and personalities. We work closely with each client to understand their individual needs and desires, and use our expertise to bring their vision to life. From concept to completion, we are dedicated to creating homes that are not only beautiful, but also built to last.
            
            We use only the finest materials and latest building techniques to ensure that our homes are of the highest quality. And with our commitment to exceptional customer service, we make the building process as smooth and stress-free as possible.
            If you are in the market for a luxury home, we would be honored to work with you. Contact us today to learn more and start building your dream home.
            </p>
    </div>
</Main>