---
import Main from '../layout/main.astro'
import hero from '/hero_page.jpg'

import "../style/about.css"
---

<Main>
    <section class="hero" style = `background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(${hero})`>
        <div class="hero-inner">
            <h1 class="shadow-text">About Us
            </h1>
        </div>
    </section>
</Main>