---
import Main from "../layout/main.astro";
import "../style/index.css";

import hero from "/hero_page.jpg";
import house_done from "/IMG_3563.jpeg";
import house_process from "/IMG_3554.jpeg";
---

<Main>
  <div id="bannercontainer">
    <div class="top-banner-area anim-inview inview" style="background-image:url('/hero_page.jpg')" >
      <div class="container-fluid">
        <header class="entry-header">
          <h5 class="top-title wow fadeInDownSm" style="visibility: visible; animation-name: fadeInDownSm;" > AMOORDOD Construction Company </h5>

          <h1
            class="entry-title main-title wow fadeIn"style="visibility: visible; animation-name: fadeIn;">
            <span class="decor"
              ><span class="letters">
                Custom Home Building
              </span>
            </span>
          </h1>

          <div class="banner-desc wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.<br> Consequatur suscipit quasi, ad officiis laborum, incidunt atque et nulla .
            </p>
            <a href="/contact " class="">Contact Us</a>
          </div>
        </header>
      </div>
    </div>
  </div>

  <h1 style="height:60vw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.</h1>


  <div class = 'parallax'></div>
  <h1 style="height:60vw">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.</h1>
</Main>