---
import Main from "../layout/main.astro";
import "../style/index.css";

import hero from "/hero_page.jpg";
import house_done from "/IMG_3563.jpeg";
import house_process from "/IMG_3554.jpeg";
---

<Main>
  <div id="bannercontainer">
    <div class="top-banner-area shadow-text" style="background-image:url('/hero/wallpaperflare.com_wallpaper_3.jpg')" >
      <div>
        <header>
          <h5> AMOORDOD Construction Company </h5>

          <h1><span>Custom Home Building</span></h1>

          <div>
            <p>
              One brick at a time. Anywhere,anytime.
            </p>
            <a href="/contact " class="">Contact Us</a>
          </div>
        </header>
      </div>
    </div>
  </div>


  <div class='section hidden'>
    <h1 class ='hidden'  style="padding-top:5px;margin-top: 10px;height:60vw ;color:white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.

    </h1>

  </div>
  <div class = 'parallax' style="background-image: url('/Custom-Contractor-Toronto.jpg');"></div>

  <div class='section hidden'>
    <h1  style="height:60vw ;color:white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit illo reiciendis optio dolorum temporibus id nobis molestias debitis animi soluta eveniet saepe alias sunt, commodi sequi hic labore natus harum.</h1>
  </div>


  <script defer is:inline>
    const observer = new IntersectionObserver((entries) =>{
      entries.forEach((entry)=>{
        if (entry.isIntersecting){
          entry.target.classList.add('loaded-el')
        }
      })
    })
    const hiddenEl =  document.querySelectorAll('.hidden')
    hiddenEl.forEach((el) =>{observer.observe(el)})
  </script>

</Main>