.box{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
    margin-top: 5px;
    max-width: 60%;
    justify-content: center;
    align-items: center;

}

.hero {
    height: 30vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .contact-section{
    background: url(bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100%;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 25px;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  .border h1{
    color: #fff;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px var(--accent_mid);
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    display: block;
    margin: 0 auto;
    border: 0;
    background: var(--accent_mid);
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: var(--accent_mid);
  }
  