#bannercontainer {
    clear: both;
    overflow: hidden;
    position: relative;
    z-index: 50;
}

#bannercontainer .top-banner-area {
    color: var(--white);
    height: 100vh;
    min-height: 500px;
    padding: 150px 0;
    background: url('/hero_page.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
}

.parallax {
  /* The image used */
  background-image: url("/Materials/1.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

