
#wrapper {
    position: relative;
    width: 100%;
    min-height: 55vw;
    height: 100%;
    overflow: hidden;
  }
  .layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    height: 100%;
    overflow: hidden;
  }
  .layer .content-wrap {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    height: 100%;
  }
  .layer .content-body {
    color: #fff;
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }
  .layer img {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .layer h1 { font-size: 2em; }
  .bottom {
    background: #222;
    z-index: 1;
  }
  .bottom .content-body { right: 5%; }
  .bottom h1 { color: var(--accent); }
  .top {
    background: #EEE;
    color: #222;
    z-index: 2;
    width: 50vw;
  }
  .top .content-body {
    left: 5%;
    color: #222;
  }
  
  .handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: var(--accent);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }
  .skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
  }
  .skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
  }
  .skewed .top .content-wrap {
    transform: skew(30deg);
    margin-left: 1000px;
  }