:root {
   --main-page:#101010;
   --dark: #202020;

   --accent_mid: #3C6E71;
   --accent_light: #4C8E91;
   --accent_dark: #335F61;
   --accent_highlight:#A1CBCD;

   --white: #FFFFFF;
   --grey: #D9D9D9;



   /* Pallete */
}

body {
   background-color: var(--main-page);
   font-family: 'Lato', sans-serif;
   color: (--white);
}