:root {
   --main-page:#101010;
   --dark: #353535;

   --accent: #3C6E71;

   
   --white: #FFFFFF;
   --grey: #D9D9D9;



   /* Pallete */
}

body {
   background-color: var(--main-page);
   font-family: 'Lato', sans-serif;
}