---

---
<style>
  faq-container {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hr-line {
    width: 60%;
    margin: auto;
}

.answer {
    color: var(--white);
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}

.faq-body {
    
    margin: auto;
    /* text-align: center; */
    width: 50%;
    padding: auto;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: rgb(90, 13, 13);
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
.faq-container{
  margin-top: var(--margin-top-standart);
}
</style>
<section class="faq-container">
  <div class="faq-one">
    <!-- faq question -->
    <h1 class="faq-page">Difference between custom and regular houses?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Regular houses are houses that are built according to a standard design and floor plan, while custom houses are houses that are designed and built according to the specific needs and preferences of the homeowner. Custom houses allow the homeowner to have more control over the layout and features of the house, while regular houses may be more limited in terms of design options.
      </p>
    </div>
  </div>
  <hr class="hr-line" />
  <div class="faq-two">
    <!-- faq question -->
    <h1 class="faq-page">Licenses available?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe
        sequi, illum facere necessitatibus cum aliquam id illo omnis maxime,
        totam soluta voluptate amet ut sit ipsum aperiam. Perspiciatis, porro!
      </p>
    </div>
  </div>
  <hr class="hr-line" />
  <div class="faq-three">
    <!-- faq question -->
    <h1 class="faq-page">How long is it taking?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe
        sequi, illum facere necessitatibus cum aliquam id illo omnis maxime,
        totam soluta voluptate amet ut sit ipsum aperiam. Perspiciatis, porro!
      </p>
    </div>
  </div>
</section>

<script is:inline>
    var faq = document.getElementsByClassName("faq-page");
    var i;
    for (i = 0; i < faq.length; i++) {
        faq[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
            /* Toggle between hiding and showing the active panel */
            var body = this.nextElementSibling;
            if (body.style.display === "block") {
                body.style.display = "none";
            } else {
                body.style.display = "block";
            }
        });
    }
</script>
