---
import "../style/faq.css"
---

<section class="faq-container" style="margin-top: 25px">
  <div class="faq-one">
    <!-- faq question -->
    <h1 class="faq-page">What is an FAQ Page?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe
        sequi, illum facere necessitatibus cum aliquam id illo omnis maxime,
        totam soluta voluptate amet ut sit ipsum aperiam. Perspiciatis, porro!
      </p>
    </div>
  </div>
  <hr class="hr-line" />
  <div class="faq-two">
    <!-- faq question -->
    <h1 class="faq-page">Why do you need an FAQ page?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe
        sequi, illum facere necessitatibus cum aliquam id illo omnis maxime,
        totam soluta voluptate amet ut sit ipsum aperiam. Perspiciatis, porro!
      </p>
    </div>
  </div>
  <hr class="hr-line" />
  <div class="faq-three">
    <!-- faq question -->
    <h1 class="faq-page">Does it improves the user experience of a website?</h1>
    <!-- faq answer -->
    <div class="faq-body answer">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit saepe
        sequi, illum facere necessitatibus cum aliquam id illo omnis maxime,
        totam soluta voluptate amet ut sit ipsum aperiam. Perspiciatis, porro!
      </p>
    </div>
  </div>
</section>

<script is:inline>
    var faq = document.getElementsByClassName("faq-page");
    var i;
    for (i = 0; i < faq.length; i++) {
        faq[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");
            /* Toggle between hiding and showing the active panel */
            var body = this.nextElementSibling;
            if (body.style.display === "block") {
                body.style.display = "none";
            } else {
                body.style.display = "block";
            }
        });
    }
</script>
