---
import "../style/footer.css";
---

<div id="footer"class="footer">
  <div class="contact-info-wrapper">
    <div class="contact-item">
      <div class="contact-icon">
        <img
          src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b380083b79f887_icons8-hot-line.svg"
          alt=""
          width="37"
        />
      </div><h4 class="contact-text">Phone Number</h4><p
        class="paragraph-white"
>
        For Inquiries Call<br /><a style="color" href="tel:+1-647-262-3008">+1-647-262-3008</a><br /><br />
      </p>
    </div><div class="contact-item">
      <div class="contact-icon">
        <img src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b3805edd79f888_icons8-open-envelope.svg" alt=""width="33"/>
      </div><h4 class="contact-text">Contact</h4><p class="paragraph-white">
        For inquiries &amp;&nbsp;questions<br /><a href = "mailto:info@amoordod.com">info@amoordod.com</a><br /><br />
      </p>
    </div><div class="contact-item">
      <div class="contact-icon">
        <img src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b380257e79f88d_icons8-location%20(1).svg" alt="" width="38" />
      </div><h4 class="contact-text">Location</h4><p class="paragraph-white">Improve Canada Building<br /><a href="http://maps.google.com/?q=Amoordod">  Unit 265 -&nbsp;7250 Keele Street,<br /> Vaughan, ON L4K 1Z8</a>
      </p>
    </div>
  </div>
  <div class="content"></div>
</div>
