---

---
<style>
    
    #footer {
    position: relative;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    padding-bottom: 50px !important;
  }

.contact-info-wrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
    max-width: 60%;
    margin-right: auto;
    margin-bottom: -50px;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  a, u {
    text-decoration: none;
    color: var(--accent_light);
  }

  .centered-container {
    text-align: center;
  }
  .contact-item {
    text-align: center;
  }

  .contact-text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .paragraph-white {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .contact-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-style: solid;
    border-width: 0px 0px 3px;
    border-color: #000 #000 #fff;
    background-color: #000;
    text-align: center;
  }

  .contact-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #777;
    border-radius: 100%;
  }
@media only screen and (max-width: 968px) {
  .contact-info-wrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
    max-width: 90%;
    margin-right: auto;
    margin-bottom: -50px;
    margin-left: auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}
</style>
<div id="footer"class="footer">
  <div class="contact-info-wrapper">
    <div class="contact-item">
      <div class="contact-icon">
        <img
          src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b380083b79f887_icons8-hot-line.svg"
          alt=""
          width="37"
        />
      </div><h4 class="contact-text">Phone Number</h4><p
        class="paragraph-white"
>
        For Inquiries Call<br /><a style="color" href="tel:+1-647-262-3008">+1-647-262-3008</a><br /><br />
      </p>
    </div><div class="contact-item">
      <div class="contact-icon">
        <img src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b3805edd79f888_icons8-open-envelope.svg" alt=""width="33"/>
      </div><h4 class="contact-text">Contact</h4><p class="paragraph-white">
        For inquiries &amp;&nbsp;questions<br /><a href = "mailto:info@amoordod.com">info@amoordod.com</a><br /><br />
      </p>
    </div><div class="contact-item">
      <div class="contact-icon">
        <img src="https://uploads-ssl.webflow.com/5f35968a8cbc183df880dcb6/5f35968b88b380257e79f88d_icons8-location%20(1).svg" alt="" width="38" />
      </div><h4 class="contact-text">Location</h4><p class="paragraph-white">Improve Canada Building<br /><a href="http://maps.google.com/?q=Amoordod">  Unit 265 -&nbsp;7250 Keele Street,<br /> Vaughan, ON L4K 1Z8</a>
      </p>
    </div>
  </div>
  <div class="content"></div>
</div>
