---
import "../style/header.css"
---


<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <!--     
            <li><a href = '#'>Our Team</a></li>
            <li><a href = '#'>Our Office</a></li>
            <li><a href = '#'>Contact Us</a></li>
             -->
<header>

    <nav>
        <h1>AMOORDOD</h1>

        <div class="menu">
            <a href="#">Home</a>
            <a href="#">About Us</a> 
            <a href ="#">Lease and Rent</a>
            <a href = '#'>Projects</a>
            <a href = '#'>Luxury Houses</a>
            <a href = '#'>Resedentional Masonary</a>
            <a href="#">Contact</a>
        </div>

        <button class="hamburger">
            <span class="material-icons">MENU</span>
        </button>
    </nav>

    <div class="mobile-menu">
        <a href="#">Home</a>
        <a href="#">About Us</a> 
        <a href ="#">Lease and Rent</a>
        <a href ="#">Projects</a>
        <a href ="#">Luxury Houses</a>
        <a href ="#">Resedentional Masonary</a>
        <a href="#">Contact</a>
    </div>
</header>

<script is:inline>

    const hamburger = document.querySelector('.hamburger');
    const hamburger_icon = hamburger.querySelector('span');
    const mobile_menu = document.querySelector('.mobile-menu');
    
    hamburger.addEventListener('click', () => {
        hamburger_icon.innerText = hamburger_icon.innerText === 'menu' ? 'close': 'menu';
        
        mobile_menu.classList.toggle('is-open');
    })
</script>