---
import "../style/header.css";
import logo from '/logo/amoordod_logo_white.png'
---

<nav id = 'nav' class =''>
  <div class="logo"><a href="/amoor/"><img class = 'logo' src={logo} alt="Amoordod"></a></div>
  <label for="btn" class="icon">
  <span class="fa fa-bars"></span>
  </label>
  <input type="checkbox" id="btn">
  <ul>
     <li><a href="#">Rent and Lease</a></li>
     <li>
        <label for="btn-1" class="show">About Us +</label>
        <a href="/amoor/about">About Us</a>
        <input type="checkbox" id="btn-1">
        <ul>
           <li><a href="#">Our Office</a></li>
           <li><a href="#">Our Team</a></li>
        </ul>
     </li>
     <li>
      <label for="btn-2" class="show">Projects +</label>
      <a href="#">Projects</a>
      <input type="checkbox" id="btn-2">
      <ul>
         <li><a href="#">Ongoing Projects</a></li>
         <li><a href="#">Luxury Houses</a></li>
         <li><a href="#">Custom Houses</a></li>
      </ul>
   </li>
     <!-- <li>
        <label for="btn-2" class="show">Services +</label>
        <a href="#">Services</a>
        <input type="checkbox" id="btn-2">
        <ul>
           <li><a href="#">Web Design</a></li>
           <li><a href="#">App Design</a></li>
           <li>
              <label for="btn-3" class="show">More +</label>
              <a href="#">More <span class="fa fa-plus"></span></a>
              <input type="checkbox" id="btn-3">
              <ul>
                 <li><a href="#">Submenu-1</a></li>
                 <li><a href="#">Submenu-2</a></li>
                 <li><a href="#">Submenu-3</a></li>
              </ul>
           </li>
        </ul>
     </li> -->
     <li><a href="/amoor/contact">Contact Us</a></li>
  </ul>
</nav>
<script is:inline>
   var navbar = document.getElementById('nav')
   window.addEventListener("scroll", function(){
   
   if(window.scrollY==0){
      navbar.classList.remove('scrolled') 
   } else {
      navbar.classList.add('scrolled')
   }
   });
</script>