---
import sketch from "/sketch.jpg"

import house from "/house.jpg"
import '../style/slider.css'
---



<div style="margin: 3rem;">


    </div>
    <div>
        <div class="image-slider">
            <div>
                <img src= {sketch}alt="GFG_Image"/>
            </div>
                <img src={house}alt="GFG_Image"/>
        </div>
    </div>

<script defer is:inline>
  function beforeAfter() {
      document.getElementById("before_after").style.width =
    document.getElementById("before_after_slider").value + "%";
  }

</script>