---
import sketch from "/sketch.jpg"

import house from "/house.jpg"
import '../style/slider.css'
---

<script></script>


<div id="image-compare">
    <img src={sketch} alt="" />
    <img src={house} alt="" />
</div>


